<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Create Competition</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />

</head>
<body>


	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<!--             <div th:if="${param.success}">
                <div class="alert alert-info">
                    You've successfully created the competition!
                </div>
            </div> -->

				<h2>Add Category</h2>
				<form th:action="@{/addcategory/} + ${id}"
					th:object="${CategoryDTO}" method="post">
					<div class="form-group"
						th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
						<label for="name" class="control-label">Category name</label> <input
							id="name" class="form-control" th:field="*{name}" />
						<p class="error-message"
							th:each="error: ${#fields.errors('name')}" th:text="${error}">Validation
							error</p>
					</div>
					<div class="radio disabled">
						<label><input type="radio" name="rating" value=3
							onclick="kyu();">kyu</label>
					</div>
					<div class="radio disabled">
						<label><input type="radio" name="rating" value=4
							onclick="weight();">weight</label>
					</div>

					<div id="test"></div>


					<div class="form-group">
						<button type="submit" class="btn btn-success">Create</button>



					</div>

				</form>
			</div>
		</div>
	</div>
</body>
<script th:inline="javascript">




function kyu()
{
	 
	var div = document.getElementById('test');
	
	//As long as <ul> has a child node, remove it
	 while (div.hasChildNodes()) {   
	  div.removeChild(div.firstChild);
	 }
	// alert("Hello! I am an alert box!!");
	 


	 var select = document.createElement("select");
	 select.name= "kyu";

	 var option = document.createElement("option");

	 option.value = "novice";

	 option.appendChild(document.createTextNode("novice"));
	 select.appendChild(option);
	 //*
	 var option = document.createElement("option");
	 option.value= "lower kyu";
	 option.appendChild(document.createTextNode("lower kyu"));
	 select.appendChild(option);

	 div.appendChild(select);  


}

function weight()
{
	var div = document.getElementById('test');
	 

	 while (div.hasChildNodes()) {   
	  div.removeChild(div.firstChild);
	 }
	 
	 

	 
	
	 var select = document.createElement("select");
	 select.name= "weight";

	 var option = document.createElement("option");

	 option.value = "60kg";

	 option.appendChild(document.createTextNode("60kg"));
	 select.appendChild(option);
	 //*
	 var option = document.createElement("option");
	 option.value= "66kg";
	 option.appendChild(document.createTextNode("66kg"));
	 select.appendChild(option);

	 div.appendChild(select); 

}


</script>
</html>

