<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
   
     	   <form action="/competition/search" method="post">
    <div id="container"></div>
    Select Year:
    <div th:if="${years != null}">
  


    <select name="year" >
  
    <option th:each="int : ${years}" th:value="${int}" th:text="${int}"></option>
 	 </select>

  		 <input type="submit" value="Submit">
  		 </div>

    </form>
    

<div th:if="${links != null}">
  
    <ul>
       <li th:each="item : ${links}" th:utext="${item}"></li>
    </ul>
</div>
<div th:unless="${links != null}">
   <div >No competitions exist from selected year.</div>
</div>
</body>
</html>