<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Competition</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>

<div class="navbar navbar-default" role="navigation" id="topnavbar">
      <div class="container">
        <div class="navbar-header">
     
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        

        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="/"><span class="glyphicon glyphicon-home"></span> Profile</a>
            </li>
      
      		 <li>
              <a href="/competition"> <span class="glyphicon glyphicon-star"></span>Competitions</a>
            </li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
                <li>
                   <a href="/logout">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;
                        <strong>Log out</strong>
                      
                    </a>
     
                </li>
            </ul>

        </div>
      </div>
    </div>


    

    
    <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You've successfully created the competition!
                </div>
            </div>

            <h1>Competition creation</h1>
            <form th:action="@{/createCompetition}" th:object="${tournament}" method="post">

                <p class="error-message"
                   th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}"
                   th:text="${error}">Validation error</p>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
                    <label for="name" class="control-label">Competiton name</label>
                    <input id="name"
                           class="form-control"
                           th:field="*{name}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('name')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('date')}? 'has-error':''">
                    <label for="date" class="control-label">Date</label>
                    <input id="date"
                    	   type="date"
                           class="form-control"
                           th:field="*{date}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('date')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('venue')}? 'has-error':''">
                    <label for="venue" class="control-label">Venue</label>
                    <input id="venue"
                           class="form-control"
                           th:field="*{venue}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('venue')}"
                       th:text="${error}">Validation error</p>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-success">Create</button>
      
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>