<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <title>Home</title>
</head>
<body>
<div class="container">
    <h1>Judo Website</h1>
    

</div>

                <div >
                    <span> <a href="/" th:href="@{/competition}">Competition</a></span>
                </div>
                <div >
                    <span> <a href="/" th:href="@{/createCompetition}">Create Competition</a></span>
                </div>
                 <div >
                    <span> <a href="/" th:href="@{/competition/search}">Search competitions</a></span>
                </div>


</body>
</html>