<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Match</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    
</head>
<body>
    <p th:text="'Match of ' + ${competitor1.name} + ' and ' + ${competitor2.name}"/>
<p id="demo"></p>

<table>

	<tr>
		<th>
			<p th:text="${competitor1.name}"/>
		</th>
		<th>
			<h1 id="time"><time >00:00:00</time></h1>
			<button id="start">start</button>
			<button id="stop">stop</button>
			<button id="clear">clear</button>
		</th>			
		<th>
			<p th:text="${competitor2.name}"/>
		</th>
	</tr>
	<tr>
		<td>
			<button onclick="addFields('Ippon')" >Ippon!</button>
		</td>
		<td>
			
		</td>
		<td>
			<button onclick="addFields('Ippon')">Ippon!</button>
		</td>
	</tr>
		<tr>
		<td>
			<button onclick="addFields('Wazari')" >Wazari</button>
		</td>
		<td>
			
		</td>
		<td>
			<button onclick="addFields('Wazari')">Wazari</button>
		</td>
	</tr>
		<tr>
		<td>
			<button onclick="addFields('Shido')" >Shido</button>
		</td>
		<td>
			
		</td>
		<td>
			<button onclick="addFields('Shido')">Shido</button>
		</td>
	</tr>
		<tr>
		<td>
			<button onclick="addFields(' ')" >Event</button>
		</td>
		<td>
			
		</td>
		<td>
			<button onclick="addFields(' ')" >Event</button>
		</td>
	</tr>

</table>  
<br/>

<a href="#" id="filldetails" onclick="addFields()" class="btn btn-default">Add event</a>
 
 	<!-- <form action="#" th:action="@{/competition/save}" th:object="${event}" method="post"> -->
 	   <form action="/competition/save" method="post">
    <div id="container"></div>
    Winner:
    <select name="victor" >
	     <option th:value="${competitor1.id}" th:text="${competitor1.name}" ></option>
 	  	 <option th:value="${competitor2.id}" th:text="${competitor2.name}" ></option>
 	 </select>
 		 <input type="hidden" name="loser" th:value="${competitor1.id} +'_'+${competitor2.id}" />
 		 <input type="hidden" name="competition" th:value="${competitionId}" />
 		 <input type="hidden" name="code" th:value="${code}" />
  		 <input type="submit" value="Submit">
    </form>


</body>

    <script th:inline="javascript">
    
    /*<![CDATA[*/

    var player1 = /*[[${competitor1.name}]]*/ 'default';
    var player2 = /*[[${competitor2.name}]]*/ 'default';

    var player1Id = /*[[${competitor1.id}]]*/ 'default';
    var player2Id = /*[[${competitor2.id}]]*/ 'default';

    

    var h1 = document.getElementsByTagName('h1')[0],
    start = document.getElementById('start'),
    stop = document.getElementById('stop'),
    clear = document.getElementById('clear'),
    seconds = 0, minutes = 0, hours = 0,
    t;

function add() {
    seconds++;
    if (seconds >= 60) {
        seconds = 0;
        minutes++;
        if (minutes >= 60) {
            minutes = 0;
            hours++;
        }
    }
    
    h1.textContent = (hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);

    timer();
}
function timer() {
	clearTimeout(t);
    t = setTimeout(add, 1000);
}



/* Start button */
start.onclick = timer;

/* Stop button */
stop.onclick = function() {
    clearTimeout(t);
}

/* Clear button */
clear.onclick = function() {
    h1.textContent = "00:00:00";
    seconds = 0; minutes = 0; hours = 0;
}

function myFunction() {
    document.getElementById("demo").innerHTML = "Hello World";
}
    
var count =0;   


function addFields(type){
	
	count = count + 1;
	
	
    var container = document.getElementById("container");
		
    var div = document.createElement("div");
	div.id = count;
	container.appendChild(div);
	
	
    
    	div.appendChild(document.createTextNode("Type"));
        var input = document.createElement("input");
        input.type = "text";
        input.name ="eventType";
        input.value = type;
        div.appendChild(input);
        
        div.appendChild(document.createTextNode("  Timestamp ")); 
        var input = document.createElement("input");
        input.type = "text";
        input.name ="eventTimestamp";
        input.value = document.getElementById("time").textContent;
        div.appendChild(input);
      
		var select = document.createElement("select");
		select.name= "eventPlayer";
		
		var option = document.createElement("option");

		option.value = player1Id;
	
		option.appendChild(document.createTextNode(player1));
		select.appendChild(option);
	
		var option = document.createElement("option");
		option.value= player2Id;
		option.appendChild(document.createTextNode(player2));
		select.appendChild(option);

		div.appendChild(select);
		  
        
        div.appendChild(document.createTextNode("  Details(optional)"));
        var input = document.createElement("input");
        input.type = "text";
        input.name ="eventDescription";
        input.value = " ";
        div.appendChild(input);
        
        var x = document.createElement("input");
        var child = document.getElementById(count);
        
        
        x.type ="button";
        x.value ="X";
        x.addEventListener('click', ()=>{
            delete_row(container, child);
        })
        div.appendChild(x);
        div.appendChild(document.createElement("br"));

        
    
}
function delete_row(container, child)
{
	container.removeChild(child);
}

    </script>
</html>