<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>matched added</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="test" />
</body>
</html>

    	var str1 = "type";
   	 	var str2 = count.toString();
    	var aType = str1.concat(str2);
    	
    	var str3 = "timetsamp";
   	 	var str4 = count.toString();
    	var aTimestamp = str3.concat(str4);
    	
    	var str5 = "description";
   	 	var str6 = count.toString();
    	var aDescription = str5.concat(str6);
    
            container.appendChild(document.createTextNode(" Attributed to player :"));
        var input = document.createElement("input");
        input.type = "radio";
        input.name ="eventPlayer";
        input.value = player1;
        container.appendChild(input);
        container.appendChild(document.createTextNode(player1));
        var input = document.createElement("input");
        input.type = "radio";
        input.name ="eventPlayer";
        input.value = player2;
        container.appendChild(input);
        container.appendChild(document.createTextNode(player2));