<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<title>Competition</title>
</head>
<body>
	<div>

		<p th:text="'Name: ' + ${competition.name}" />
		<p th:text="'Date: ' + ${competition.date}" />
		<p th:text="'Venue: ' + ${competition.Venue}" />
		<p th:text="'Completed: ' + ${competition.completed}" />
		<p th:text="${role}" />

		<div></div>
		<div th:if="${role == 'Role_Admin'}">
			<div th:if="${competition.completed == false}">

				<div th:if="${competition.competitors != null}">
					<h3>Competitors</h3>
					<ul>
						<li th:each="item : ${competition.competitors}" th:text="${item}"></li>
					</ul>
				</div>
				<h4>Add Competitor.</h4>
				<form action="#" th:action="@{/competitions/} + ${competition.id}"
					th:object="${email}" method="post">

					<p>
						User email: <input type="text" th:field="*{text}" />
					</p>
					<p>
						<input type="submit" value="Submit" /> <input type="reset"
							value="Reset" />
					</p>
				</form>



				<div>
					<span> <a href="/"
						th:href="@{/competitionstart/} + ${competition.id}">Competition
							Start!</a></span>
				</div>
			</div>
		</div>

			<div th:if="${competition.signUpOpen == true}">

			




			</div>
			











	</div>

</body>
</html>

<!-- @{/order/details(id=${competition.id})}  "@{/mycontroller/{path}(path=${type})}">  th:action="@{/competitions/{id}(id=${competition.Id})}" -->

<!-- <div th:switch="${user.role}"> 
  <p th:case="'admin'">User is an administrator</p>
  <p th:case="#{roles.manager}">User is a manager</p>
  <p th:case="*">User is some other thing</p> 
</div> -->