<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <title>Competition</title>
</head>
<body>
    <div>
    
      <p th:text="'Name: ' + ${competition.name}" />
      <p th:text="'Date: ' + ${competition.date}" />
      <p th:text="'Venue: ' + ${competition.Venue}" />
      <div th:if="${competition.competitors != null}">
   		 <h3>Competitors</h3>
   		 <ul>
      	 <li th:each="item : ${competition.competitors}" th:text="${item}"></li>
 		   </ul>
	 </div>
      	<h4>Add Competitor.</h4>
    <form action="#" th:action="@{/competitions/${competition.id}}" th:object="${email}" method="post">
    	
        <p>User email: <input type="text" th:field="*{text}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
      
    </div>
     
</body>
</html>

<!-- @{/order/details(id=${competition.id})} -->