<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Weigh in</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>

<div class="navbar navbar-default" role="navigation" id="topnavbar">
      <div class="container">
        <div class="navbar-header">
     
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        

        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="/"><span class="glyphicon glyphicon-home"></span> Profile</a>
            </li>
      
      		 <li>
              <a href="/competition"> <span class="glyphicon glyphicon-star"></span>Competitions</a>
            </li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
                <li>
                   <a href="/logout">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;
                        <strong>Log out</strong>
                      
                    </a>
     
                </li>
            </ul>

        </div>
      </div>
    </div>


<div class="container">


	
		<h2 th:text="'Name: ' + ${User.firstName} + ' ' + ${User.lastName}">Weigh in</h2>

		<form th:action="@{/weighinuser}" th:object="${WeightDto}"
			method="post">


			<div class="form-group"
				th:classappend="${#fields.hasErrors('userWeight')}? 'has-error':''">
				<label for="userWeight" class="control-label">Weight: </label> <input
					id="userWeight" class="form-control" type=number th:field="*{userWeight}" />

			</div>

			<div class="checkbox">
				<label><input type="checkbox" value="yes" th:field="*{weight}">Weight
					Category</label>
			</div>
			<div class="checkbox">
				<label><input type="checkbox" value="yes" th:field="*{kyu}">Kyu
					Category</label>
			</div>
				<input type="hidden" name="userId" th:value="${User.id}" />
				<input type="hidden" name="tourId" th:value="${competition.id}" />
				
				
		<div class="form-group">
			<button type="submit" class="btn btn-success">Create</button>

		</div>
		</form>
	</div>










</body>
</html>